ion-button#onBtn {
    margin-top: 50%;
    width: 47%;
    background-color: rgb(226, 230, 176 ) !important;
}
#offBtn{
    margin-top: 25px;
    margin-bottom: 10px;

    width: 47%;
    background-color: powderblue;
}

#content{
    text-align: -webkit-center;
    text-align: -moz-center;
}