ion-button#onBtn {
    margin-top: 50%;
    width: 47%;
    background-color: rgb(226, 230, 176 ) !important;
}
#offBtn{
    margin-top: 25px;
    margin-bottom: 10px;

    width: 47%;
    background-color: powderblue;
}

p#main {
    margin-bottom: 4px;
}

#content{
    text-align: -webkit-center;
    text-align: -moz-center;
}

p#prompt {
    color: gray;
    margin-top: 0px;
}

#greenBtn{
    background: #4CAF50;
}

span {
    font-size: 12px;
    color: gray;
}