<ion-header>
  <ion-toolbar>
    <ion-title>
Add New
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <p>Add new resident unit</p>

<ion-item>
  <ion-label position="floating">Residence</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Unit number</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Cell no</ion-label>
  <ion-input></ion-input>
</ion-item>

  <ion-button>Save</ion-button>

</ion-content>
